.button {
  // reset
  margin: 0;
  padding: 0;
  background: none;
  border: none;

  //
  padding: 0.4em 1.3em;
  border-radius: 4em;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

// size
.small {
  font-size: small;
}
.medium {
  font-size: medium;
}
.large {
  font-size: large;
}

// color
.primary {
  background: var(--c-primary);
  color: var(--c-white);
}
