.user {
  margin-top: 50px;
  .profile {
    display: flex;
    justify-content: space-between;
    .p_user {
      display: flex;
      gap: 20px;
      .p_right {
        .username {
          font-size: 25px;
        }
        .comment {
          font-size: 16px;
        }
      }
    }
  }
  .gallary {
    margin-top: 50px;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 250px;
        height: auto;
        border: solid 2px var(--c-primary);
        border-radius: 5px;
        &:hover {
          opacity: 0.7;
        }
        img {
          width: 100%;
          border-radius: 5px;
        }
      }
    }
  }
}
